@font-face{ 
	font-family: 'Fertigo_PRO-webfont';
	src: url('Fertigo_PRO-webfont.eot');
	src: url('Fertigo_PRO-webfont.eot?#iefix') format('embedded-opentype'),
	     url('Fertigo_PRO-webfont.woff') format('woff'),
	     url('Fertigo_PRO-webfont.ttf') format('truetype'),
	     url('Fertigo_PRO-webfont.svg#webfont') format('svg');
}

body {
	background-image: url("skulls.png");
	background-repeat: repeat;
}

.resume {
	display: none;
	margin-left: 240px;
	margin-right: 240px;
	margin-top: 60px;
	color: black;
	font-family: 'Fertigo_PRO-webfont', Arial, sans-serif;
}

.Name {
	font-size: 20px;
	font-weight: bold;
	text-align: right;
}

.Name img.resize {
	max-width: 25%;
	max-height: 25%;

}

.Name img {
	border: 8px solid black;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	box-shadow: 5px 10px 10px #000;
	transition: border .02 ease-in-out;
}

.Name img:hover {
	border: 8px solid red;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	box-shadow: 5px 10px 10px #000;
}
.Contact-info {
	font-size: 10px;
	font-style: italic;
}

.Education, .International, .Domestic {
	transition: color .02 ease-in-out;
}

.Education:hover, .International:hover, .Domestic:hover {
	color: red;
}

.Education H1, .International H1, .Domestic H1 {
	font-size: 22px;
	font-weight: bold;
	font-style: italic;
}

.Education H2, .International H2, .Domestic H2 {
	font-size: 16px;
	font-weight: bold;
}

.Education H3, .International H3, .Domestic H3 {
	font-size: 14px;
	font-style: italic;
	text-indent: 15px;
}

.Education li, .International li, .Domestic li {
	font-size: 12px;
}

.quote {
}

.quote p {
	text-align: center;
}

.quote q {
	font-style: italic;
}